# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual envs
.venv/
venv/
ENV/
fp/backend/.venv/

# Env/Secrets
.env
.env.*
instance/

# Build/dist
build/
dist/
.eggs/
*.egg-info/

# Tests/coverage
.pytest_cache/
.coverage*
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Editor/OS
.vscode/
.DS_Store
Thumbs.db

# Node (if present)
node_modules/